.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: white;
    padding: 0 0;
    margin: 0 0;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.break-link {
    overflow-wrap: break-word;
    word-break: break-all;
}

.space {
    height: 40px;
}

.barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 153, 0, 0.75);
    color: white;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 1000;
    overflow: hidden;
}

.barra-superior .logo {
    width: auto;
    height: 40px;
    background-image: url("assets/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 10px;
    display: flex;
    overflow: hidden;
}

.barra-superior a {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    padding: 100% 20px;
    width: auto;
    font-family: "Anton";
}

.barra-superior div {
    width: auto;
}

.barra-superior .space {
    width: 50%;
}

.button {
    background-color: rgba(255, 153, 0, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(175, 96, 0);
    color: white;
}

.clickable {
    cursor: pointer;
}

.banner {
    position: relative;
    margin: 0px 0px;
    text-align: center;
    width: 100%;
    height: 400px;
    display: inline-block;
    overflow: hidden;
    background-image: url("");
    background-size: cover;
    background-position: top;
}

.degradar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, white 100%);
}

.super-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    font-family: "Freeman";
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-size: 50px;
    font-family: "Freeman";
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagen-centrada {
    display: block;
    margin: 0 auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor div {
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor h1 {
    font-family: "Freeman";
}

.screenshots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

